@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	text-align: center;
	font-family: 'Raleway', cursive;
	overflow: hidden;
	position: absolute;
	border: 0.1vw solid white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	color: white;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


h1{
	font-size: 6vw;
	margin-bottom: 0;
}  	

h2{
	color: #686767;
}

h3{
	font-size: 3vw;
	margin-bottom: 0;
}

h1::selection, h3::selection, p::selection{
	background-color: pink;
	color: white;
}


#navBar{
	text-align: right;
	position: fixed;
}

#header{
	position: fixed;
	top: 20%;
	width: 100%;
}

#aboutMe, #projects{
	-webkit-animation: fadein 3s;
	position: fixed;
	width: 50%;
	bottom: 20%;
	left:0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
	display: none;
	z-index: -50;
}

#aboutMe{
	line-height: 3vw;
}

#subtitle{
	text-align: center;
	padding-bottom: 1vw;
	color: grey;
}

#footer{
	margin: 0 auto;
	padding-top: 0.5vw;
	padding-bottom: 1.5vw;
	color: #a8a8a8;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	text-align: center;
}

a.title, a.title:link, a.title:visited{
	text-decoration:none;
	user-select: none;
	color: white;
	transition-duration: 0.4s;
}

a.button:link, a.button:visited {
    color: #a8a8a8;
    border: 2px solid #a8a8a8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    -moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    transition-duration: 0.4s;
    border-radius: 4px;
    font-family: 'Ubuntu', cursive;
    margin: 1vw;
}


a.button:hover, a.button:active {
   border: 2px solid pink;
   padding: 10px 20px;
   color: pink;
}


a.footerLinks:link, a.footerLinks:visited{
	text-decoration:none;
	padding: 2vw;
	padding-top: 1vw;
	-webkit-transition-duration: 0.4s; /* Safari */
    -moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

a.title:hover, a.footerLinks:hover {
	transition-duration: 0.4s;
	color: pink;
	font-size: 105%;
}

canvas{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: 100%;
  	z-index: -100;
}

img{
	width: 30px;
}



